@import "tailwindcss";

/* Hide Vercel or Netlify toolbars */
#vercel-toolbar-container,
.netlify-drawer-container,
[id^="vercel-"],
[class^="netlify-"],
#nextjs-dev-overlay {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
    pointer-events: none !important;
}